body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.font-title {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.feature-card {
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
  padding: 1.5rem;
  height: 100%;
  background-color: var(--vp-c-bg-soft);
  transition: border-color 0.25s, background-color 0.25s;
}

.VPHero {
  .heading {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .image-container {
    transform: none;
  }

  .image-bg, .image-src {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }
}

.feature-card:hover {
  border-color: var(--vp-c-brand-1);
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.comparison-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.comparison-card {
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
  padding: 1.5rem;
  background-color: var(--vp-c-bg-soft);

  > h1,
  > h2,
  > h3,
  > h4 {
    margin-top: 0;
    font-weight: 600;
    border-bottom: 1px solid var(--vp-c-divider);
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  div[class*="language-"] {
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
  }

  [class*="language-"] code {
    padding: 0;
  }
}

.card-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.card-grid-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.full {
    grid-column: 1 / -1;
  }
}

@media (max-width: 768px) {
  .card-grid {
    display: flex;
    flex-direction: column;

    div[class*="language-"] {
      display: block;
      width: 100%;
      overflow: auto;
      margin: 0;
    }
  }

  .card-grid-col {
    width: 100%;
  }

  .comparison-card {
    padding: 1rem;
  }
}
